.city-link {
	padding: 0 30px 20px 0;
	float: left;
}
.country-name {
	text-transform: uppercase;
}
.city-link a{
	color: #000;
	border-bottom: 1px #FF0009 solid;
}
.city-link a:hover {
	color:#f45f49;
	text-decoration: none;	
}