/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import 'flexvideo.css';

main p {
	margin-bottom: 1.5em;
}

main li {
	margin-bottom: 1em;
}

/*main h1, main h2, main h3, main h4, main h5, main h6 {
	margin-top: 1em;
}*/

img.aligncenter {
	display: block;
	margin: 0 auto;
}



/* chromeframe error */
.chromeframe {
	background: #a00;
	color: #faa;
	display: block;
	padding: 3px 0;
	text-align: center;
}
.chromeframe a {
	color: #fff;
	text-decoration: underline;
}

.page-header-top-right {
	margin-top: 5px;
}

.pagination {
	margin: 0;
}



.pagination-center {
	text-align: center;
}
.pagination-row {
	margin-bottom: 20px;
}



.required {
	color: #f00;
}



.row-with-vspace {
	margin-bottom: 20px;
}



.site-main .format-aside {
	background: #f5f5f5;
}
.site-main .format-image {
	background: url('../img/content-post-format-image.png') left top no-repeat;
}
.site-main .format-link {
	background: url('../img/content-post-format-link.png') left top no-repeat;
}
.site-main .format-quote {
	background: url('../img/content-post-format-quote.png') left top no-repeat;
}
.site-main .format-video {
	background: url('../img/content-post-format-video.png') left top no-repeat;
}

.widget_calendar #wp-calendar {
	margin: 0;
}
.widget_calendar #wp-calendar #next {
	text-align: right;
}


#comments .comment-navigation {
	margin-bottom: 0;
}
#comments .comment-navigation-below {
	margin-bottom: 20px;
	margin-top: 15px;
}
#comments .media-list li .media {
	margin-top: 15px;
}
#comments .media-list li .media .media-body {
	border: 1px solid #eee;
	padding: 10px;
}
#comments .media-list li .media .media-body .comment-author {
	font-size: 12px;
	margin-bottom: 10px;
}
#comments .media-list ul.children {
	list-style: none;
	margin-left: 2.5em;
}
#main-column{
	margin-top: 20px;
}

#main-column img,
#main-column .wp-video-shortcode {
	display: block;
	height: auto;
	max-width: 100%;
}
#main-column .attachment .entry-content {
	margin-bottom: 20px;
}
#main-column .attachment .entry-content .attachment {
	text-align: center;
}
#main-column .attachment .entry-meta {
	margin-bottom: 20px;
}
#main-column .page {
	margin-bottom: 20px;
	padding: 10px 0;
}
#main-column .post .entry-header .entry-meta {
	color: #999;
}
#main-column .post .entry-header .entry-meta a {
	color: inherit;
}
#main-column .post .entry-header .entry-meta .posted-on .updated {
	display: none;
}
#main-column .post .entry-meta .categories-icon {
	cursor: default;
}
#main-column .post .entry-meta .comments-link a {
	color: #333;
}
#main-column .post .entry-meta .comments-link a .comment-icon .comment-total,
#main-column .page .entry-meta .comments-link a .comment-icon .comment-total {
	color: #555;
	font-size: 12px;
	margin-left: 5px;
}
#main-column .attachment .edit-post-link a,
#main-column .attachment .entry-meta .edit-post-link a,
#main-column .post .entry-meta .edit-post-link a,
#main-column .page .entry-meta .edit-post-link a {
	color: #333;
}
#main-column .post .entry-meta .tags-icon {
	cursor: default;
}
#main-column .attachment .entry-title,
#main-column .post .entry-title,
#main-column .page .entry-title {
	word-wrap: break-word;
}

#sidebar-left .widget,
#sidebar-right .widget {
	overflow: hidden;
	padding: 10px 0;
}
#sidebar-left .widget ul,
#sidebar-right .widget ul {
	padding-left: 20px;
}
#sidebar-left .widget .widget-title,
#sidebar-right .widget .widget-title {
	font-size: 18px;
	margin-top: 0;
}
#sidebar-right .widget h1.widget-title {
	margin-bottom:0;
}

#site-footer {
	background: #000;
	font-size: 12px;
	position: relative;
	min-height: 12rem;
	clear:both;
	padding-top:10px;
	right:0;
	left:0;
}

/*-- urban governance --*/
html, body{
	height: 100%;
}

#main {
  overflow: hidden;
  padding-bottom: 2rem;
}
.page-template-pagetemplate-data-explorer #main{
  padding-bottom:0px;
}
.page-template-pagetemplate-data-explorer #main-column .page {
	margin-bottom: 0px;
}
body {
	background:#F2EFED;
	font-family: 'Merriweather', serif;
	font-weight: 300;
	margin:0;
	/* body padding due to sticky header  */
	padding-top:120px;
}

body .home{
	background:#F2EFED;
}

.entry-content p{
	font-size: 14px;
}
.entry-content h3{
	padding-top:0;
	margin-top:0;
	font-size:22px;
}
.site-main {
	padding-top:20px
}

a {
	color: #FF0009;
	text-decoration: none;
}
a:hover {
	color:#f45f49;
	text-decoration: none;
}
.red-button{
	font-family: 'Lato',sans-serif;
	width: 200px;
	background: #F44228;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-mozilla-border-radius: 4px;
	border:0;
	color: #FFF;
	text-align: center;
	/*font-size: 1.3rem;*/
	padding:5px 30px;
	margin: 10px auto 0;
	cursor:pointer;
}
.red-button a{
	color: #FFF;
}
.red-button:hover{
	background:#f45f49;
}
.red-button:active{
	background:#d63a23;
}
.no-gutter{
	padding: 0;
}
.nav-breadcrumb{
    display: none;
}

/*
Header and Primary Menu
--------------------------------------------------------------*/
.main-title{
	background:#000000;
	padding: 0px 15px 6px 15px;
}
.main-title h1 {
	margin:0;
	padding:0;
	line-height: 0.8;
}
.main-title h1 a{
	color: #FFF;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}
.main-title .site-description{
	color: white;
	font-size: 12px;
	padding-top: 3px;
}
.menu{
	overflow:hidden;
}

.main-navigation a {
	font-family: 'Lato' !important;
	padding: 5px 8px;
	font-size: 13px;
}

.nav-header{
	background:#FFF;
  /*  -webkit-box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 4px 3px -2px rgba(0, 0, 0, 0.2);*/
	padding-bottom: 0px;
	margin-top: 0;
    z-index:120;
}
.navbar-default{
	box-shadow: none;
}

.main-navigation ul{
	overflow:hidden;
	padding-left: 0px;
	margin: 0px 0px 0 0;
}
.main-navigation li > ul,
.main-navigation li > ol {
   margin: 0;
   list-style-type: none;
}
.main-navigation li {
   float: left;
   position: relative;
   padding-right: 2px;
   list-style-type: none;
}
.main-navigation a {
	text-transform: uppercase;
	color: #777777;
	display: inline;
	float: left;
}
.main-navigation a:hover, .main-navigation .current_page_item a, .main-navigation .current_page_ancestor a, .main-navigation .current_page_parent a{
	background:#F2EFED;
	color: #333333;
}
.main-navigation ul.children{
	display:none;
}
.nav-breadcrumb {
	position: relative;
	z-index: 10;
	height: 30px;
	background: #dfdcda;
	color: #777777;
	padding:5px 25px;
}
.nav-breadcrumb a{
	color: #777777;
}
.nav-breadcrumb a:hover{
	color: #333333;
}


/*
Language switch
--------------------------------------------------------------*/

.widget_polylang ul{
	margin-left: 0;
	padding-left: 0px;
	padding-top: 5px;
	float: right;
}
.widget_polylang li > ul,
.widget_polylang li > ol {
   margin: 0;
   list-style-type: none;
}
.widget_polylang li {
   /*float: left;
   position: relative;*/
   padding: 0 10px;
   /*list-style-type: none;*/
}
.widget_polylang a {
	font-family: "Lato", sans;
	display: inline;
	padding:0;
}
.widget_polylang a:hover, .widget_polylang .current-lang a{
	color: #000;
	border-bottom: 1px solid #d63a23;
	background: #FFF;
}
.widget_polylang li.lang-item-en, .widget_polylang li.lang-item-fr{
	border-right: 1px solid #000;
}


/*
Select
--------------------------------------------------------------*/

select::-ms-expand { /* for IE 11 */
    display: none;
}
option {
	height: 30px;
	border:0;
	background:#F2EFED;
	color: #333333;
}
select option:hover{
	background: #FFF;
}


/* case studies overview
--------------------------------------------------------------*/
.post-block{
	background: #FFFFFF;
	color:#656565;
	height: 360px;
    -webkit-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
}
.post-block .entry-content{
	margin:0px 15px 15px 15px;
	font-size: 15px;
}

.post-block h1.entry-title{
	padding-top:15px;
	margin:25px 15px 5px 15px;
	font-size: 15px;
	color: #333333;
	font-weight: bold;
}
.post-block h1.entry-title:hover{
	color:#777777;
}
.blog #main-column .post{
	padding: 0 0 15px 0;

}
.blog #main-column .row{
	margin:0 0 15px 0;
}
.single .nav-breadcrumb {
    display: block;
}
.blog .textwidget p{
	font-size: 14px;
}
.blog .textwidget{
	margin-top: 10px;
}


/* case studies
--------------------------------------------------------------*/
#sidebar-header-home{
	font-size: 16px;
}

.single-post h1.entry-title a{
	color: #333333;
	font-size: 22px;
	padding-top: 0;
	margin-top:0;
}
.single-post .site-content{
	color:#656565;
	padding-left:10px;
	margin-bottom:140px;
}
.single-post .site-main {
	padding-top:0;
}

.single-post .post .entry-header {
	padding-top: 15px;
}

.single-post h1.entry-title{
	margin-top:10px;
	padding-bottom:0px;
	margin-bottom:0;
}
.entry-date{
	margin-top:10px;
	font-size: 12px;
}
/* hiding details */
.entry-author-link,
.entry-permalink,
.entry-meta {
	display: none;
}

.details{
	background:#FFFFFF;
	margin:0px 10px;
	padding: 10px;
	color:#999999;
	border: 1px solid #DBDBDB;
   	border-radius: 4px;
	-webkit-border-radius: 4px;
	-mozilla-border-radius: 4px;
}
.details h4.title{
	margin-bottom: 2rem;
	text-transform: uppercase;
}
.details h4, .details .widget-title {
	padding-bottom:0;
	margin-bottom: 0.5rem;
}
.details li{
   list-style-type: none;
   padding: 0;
   color:#333333;
   font-size:1.3rem;
}
.details ul, #sidebar-right .details .widget ul {
   padding:0;
   margin:0;
}

.single-post #sidebar-right .details{
	margin:30px 10px;
}
.breadcrumbs{
	padding-left:10px;
}

/* home
--------------------------------------------------------------*/
.home .entry-header{
	display:none;
}
.home .entry-content{
	/*text-align: center;*/
	font-size: 16px;
	padding: 0px 40px;
	color:#333333;
}
.home-text-container {
	background: #FFFFFF;
	margin:0;
	padding: 20px 0;
	border-bottom: 3px solid #B7B2AD;
}
.home .content-area {
	text-align: center;
}
.centered{
	float: none;
	margin: 0 auto;
}

.home #main-column .page {
	margin-bottom: 0px;
	padding: 10px 0;
}

.front-page-footer-container {
	background-color: #000;
	clear: both;
	padding: 1rem 0;
}
.footer-title{
	padding-left: 15px;
	padding-right: 8px;
	margin-top:0;
	text-transform: uppercase;
	font-size: 13px;
	color:#FFFFFF;
}
.logos {
	background: #000000;
	padding-top: 15px;
}
.logos img {
	height: 20px;
	margin-left:5px;
	margin-right:5px;
}

.logos .last img{
	height: 22px;
	border-left: 1px #FFF solid;
	padding-left:7px;
	margin-left: 0;
}

/*
Visualisation styles
--------------------------------------------------------------*/
#vis{
	background:#F2EFED;
}

rect.background{
	fill: #F2EFED;
}

path {
  fill: #FFFFFF;
  stroke: #F2EFED;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


circle.citycircle, circle.q_circle {
	stroke: #FFF;
	stroke-width: 0.5;
	shape-rendering: geometricPrecision;
}
circle.highlighted{
	stroke:grey;
	stroke-width:4px;
	opacity: .8;
}
circle.selected{
	stroke:black;
	stroke-width:4px;
	opacity: .8;
}
.arrow_box {
	position: absolute;
	background: #ffffff;
	color:#838383;
	z-index: 1200;
	padding:15px;
	border: 1px solid #DBDBDB;
    -webkit-box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 2px 2px -2px rgba(0, 0, 0, 0.4);
    display:none;
}
.arrow_box:after, .arrow_box:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 10px;
	margin-top: -10px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-right-color: #DBDBDB;
	border-width: 11px;
	margin-top: -11px;
}
.arrow_box .title{
	color: #3D3D3D;
}
.citynames{
	position:absolute;
	padding:2px 4px;
	pointer-events: none;
}
.surveyvis-header {
	display:none;
}
strong {
	font-weight: 600;

}
@media(min-width:768px){
	.logos a {
		margin-bottom: 0;
	}
	.main-navigation .menu a {
		padding:5px 5px;
	}
}
@media(min-width:992px){
	body {
		padding-top:83px;
	}
	.main-navigation .menu a {
		padding:5px 8px;
		font-size: 13px;
	}
	#main-column{
		margin-top: 0px;
	}
}
@media(min-width:1200px){
	#site-footer {
		min-height: 100px;
	}
	.single-post .site-content{
		margin-bottom:100px;
	}
	.main-navigation a {
		padding:5px 8px;
	}
	.widget_polylang a {
		padding:0;
	}
}
