
.report {
	margin-top:50px;
}

/* top area */
.navbar-default {
    background-color: #F2EFED;
    border:0;
}
nav.navbar.navbar-default.navbar-fixed-top{
    background: #F2EFED;
}
.cityreport-header{
	background:#F2EFED;
	border-bottom: 1px #FFFFFF solid;

}
.city-name {
	margin:0;
	padding:0;
	display:none;
	
}
.city-name h3 {
	font-size: 22px;
}

.map-row{
	border-bottom: 1px #FFFFFF solid;
}
/* questions - answers */

.report .question {
	padding-top: 30px;
	font-size:1.1em;
} 
.report .answer{
	padding-top: 10px;
}

.question-row{
	border-bottom: 1px #FFFFFF solid;
	padding-bottom: 20px;
}

/* visualisation styles */

.axis-line, .xaxis-line, .yaxis-line {
	stroke: #DDDDDD;
	stroke-width: 1;
}
text.label{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	font-size: 1em;
}
/* tables */

table {
	border-bottom: 1px solid #DDDDDD;
}
.table-condensed > tbody > tr > td.rating {
	padding: 1px;
}
.red-block{
	border-bottom: 6px #FF0009 solid;
	margin:11px 0 10px;
}
.table-condensed > thead > tr > th{
	font-family: 'Lato', sans-serif;
	font-weight: normal;
	text-align: center;
}
.table-condensed > thead > tr > th.matrix-menu{
	text-align: left;
}
.single-column{
	width: 6%;
}
.single-title{
	width: 28%;
}
.row-title{
	padding-right: 20px;
	font-family: 'Lato', sans-serif;
}
/* city info panel */

.city-data{
	height:auto;	
}

.details.city-data{
	margin: 10px 0;
	color: #646464;
}
.details.city-data li {
    list-style-type: disc;
    margin-left: 10px;
    color: #646464;
  	font-size: 14px;
}
.details.city-data ul{
	margin-left:5px;
}
#city-info .title {
    padding: 10px 0 5px;
    color: #9D9D9D;
}

.answer {
	font-family: 'Lato', sans-serif;
}

.unavailable {
	display:none;
	font-family: 'Lato', sans-serif;
	padding-top: 10px;
	font-weight: bold;
}

@media print
{    
    #print-page{
        display: none !important;
        padding-top:0px;
        margin-top:0px;
    }
    body{
    	margin: 0 50px;   
    }
}
